@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: "Hubballi", cursive;
}
header {
  background: rgba(255, 198, 112, 1);
  color: black;
  padding-top: 15px;
  min-height: 90px;
}
header i {
  font-size: 3rem;
}
.container {
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rightside {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.rightside a {
  text-decoration: none;
  color: black;
}
.leftside {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.leftside h2 {
  margin-left: 15px;
}

.wrapper {
  max-width: 600px;
  margin: 20px auto;
}

.search-input-form {
  background-color: #dbd0e3;
  width: 100%;
  border-radius: 10px;
  position: relative;
}

.search-input-form input {
  height: 50px;
  width: 90%;
  outline: none;
  border: none;
  background-color: #dbd0e3;
  border-radius: 10px;
  padding: 0 30px;
  font-size: 18px;
  box-shadow: 0px 0.5px 5px rgba(0, 0, 0, 0.1);
}
.search-input-form .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.search-input-form .autocom-box {
  padding : 0 20px ;
  overflow-y: auto;
}

.autocom-box li {
  list-style: none;
  padding: 8px 10px;
  /* display: none; */
  width: 90%;
  cursor: default;
  border-radius: 3px;
}
.autocom-box li:hover {
  background-color: #b09cbe;
}

input::placeholder {
  color: #7c7a7a;
  opacity: 0.5;
  font-size: 16px;
}

.images-section {
  margin-top: 5rem;
  display: flex;
  flex-flow: wrap;
  width: 100%;
  justify-content: center;
}
.image {
  margin: 1rem;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  background-color: #d9d9d9;
}
