@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
*{
    padding:0px;
    margin:0px;
    font-family: 'Hubballi', cursive;
}

.images-section{
    display: flex;
    width:80%;
    justify-content: center;
}
.image{
    margin:1rem;
    width:20rem;
    height:20rem;
    object-fit: cover;
    background-color:#D9D9D9;
}